/* Debian language css file for indonesian - id */
/* please do not touch for now! - Jutta Wrage 2005 */

/* quotes */
html[lang=id] q:before { content: "\201C"; }
html[lang=id] q:after { content: "\201D"; }
html[lang=id] q q:before { content: "\2018"; }
html[lang=id] q q:after { content: "\2019"; }

html[lang=id] blockquote.quote p:first-child:before { content: "\201C"; }
html[lang=id] blockquote.quote p:after { content: ""; }
html[lang=id] blockquote.quote p.last:after { content: "\201D"; }
